@import "tailwindcss";

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-shine-text {
  background: linear-gradient(
    to right,
    #db2777 0%,
    #db2777 40%,
    #fbcfe8 50%,
    #db2777 60%,
    #db2777 100%
  );
  background-svize: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: textShine 3s linear infinite;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: #0b0b0b;
}

html::-webkit-scrollbar-thumb {
  background: #343536;
  border-radius: 10px;
  border: 3px solid #0b0b0b;
}

html::-webkit-scrollbar-thumb:hover {
  background: #db2777;
}

div::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-track {
  background: transparent;
}

div::-webkit-scrollbar-thumb {
  background: rgba(219, 39, 119, 0.2);
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
  background: rgba(219, 39, 119, 0.5);
}

/* Firefox support for the Main Page */
html {
  scrollbar-width: auto;
  scrollbar-color: #343536 #0b0b0b;
}

/* Firefox support for the Comments */
div {
  scrollbar-width: thin;
  scrollbar-color: rgba(219, 39, 119, 0.2) transparent;
}
